<h1> Profile Page for <%= @student.first_name %> </h1>

<p> Charities  Raising money for and current amount<p>

<% @student.charities.each do |c| %>
  <div class= "charity_box">
    <%= c.name %>
    <p><%= c.description %></p>
    <p> Goal:</p>
    <!-- MAy need to chang this for matching amount to each charity of student  -->
    <p> Amount Pledged: $<%= @student.amount_pledged %></p>
    <div>
    <%=  button_to "Pledge", root_path, {method: 'get', class: "pledge_btn" } %>
    <%=  button_to "Pledge", root_path, {method: 'get', class: "pledge_btn" } %>
    <%=  button_to "Pledge", root_path, {method: 'get', class: "pledge_btn" } %>
    <%=  button_to "Pledge", root_path, {method: 'get', class: "pledge_btn" } %>
  </div>
  </div>
<% end %>
