<h1> Profile Page for <%= @student.first_name %> </h1>
<% if current_user == @student %>
  <%=  button_to "Edit Profile" %>
<% end %>

<p> Charities  Raising money for and current amount<p>

<div class = "student_section">
  <div class = "boxes">
  <% @student.charities.each do |c| %>
    <div class= "charity_box">
      <%= c.name %>
      <p><%= c.description %></p>
      <p> Goal:</p>
      <!-- MAy need to chang this for matching amount to each charity of student  -->
      <p> Amount Pledged:
      $<%= @student.amount_pledged(c) %></p>
      <% if user_signed_in? %>

        <%= form_for @pledge do |f| %>
           Comment:
           <!-- Add Comment? -->
           <%= text_area(:comment, :content) %>
           <%= hidden_field( :comment, :user_id, :value => current_user.id ) %>

           Amount:
           <!-- USED MAX NUMBER TO PREVENT "BIGNUM" errors -->
           <!--  Expected below to pass params[:pledge][:amount] not working -->
           <!--<  number_field_tag(:pledge,:amount, min:0, max:4611686018427387903 ) >  -->
           <%=  number_field_tag(:amount,:amount_pledged, min:0, max:4611686018427387903 ) %>
           <div class="field_with_errors"><%= @pledge.errors.full_messages if !@pledge.errors.empty? %></div>



             <%= hidden_field(:student,:student_id, :value => @student.id ) %>
             <%= hidden_field(:charity,:charity_id, :value => c.id) %>
             <%= f.submit "Make Pledge" %>
          <% end %>

        </form >
      <% else %>
          <%= button_to "Sign Up to Pledge", new_user_registration_path,{method: 'get', class: "pledge_btn"} %>
      <% end %>
    </div>

  <% end %>

    <div class= 'recent_pledges'>
          <h2>Recent Pledges:</h2>
        <% @student.recent_pledges.each do |p| %>
          <ul>
            <%= p.user.email %> Pledged: $<%= p.amount %>
          <% if current_user == p.user %>
            <% p.comments.each do |comment| %>
                <% if comment.content != nil %>
                  <!-- THis should hide commnet if empty? -->
                  Comment: <%= comment.content %>
                <% end %>
            <% end %>
          <% end %>
          </ul>
        <% end %>
      </div>

</div>


</div>
