<%= @teacher.first_name %> <%= @teacher.last_name %>'s  Class

<ol>
  <% @teacher.students.each do |s| %>
  <div><li>
      <%= s.first_name %> <%= s.last_name %>
      <%= button_to "Students Profile", student_path(s), {method: 'get', class: "some-class"} %>
    </li></div>
  <% end %>
</ol>
