<div id="main">
  <div class="leftcolumnteacher">
  <%= @teacher.first_name %> <%= @teacher.last_name %>'s  Class
    <% @teacher.students.each do |s| %>
    <div class= 'student_box'>

        <%= s.first_name %> <%= s.last_name %>
        <%= button_to "Students Profile", teacher_student_path(@teacher ,s), {method: 'get', class: "some-class"} %>
      </div>
    <% end %>
     <% if current_user != nil && current_user.id == @teacher.user_id   %>
         <%= link_to "Add Student", edit_teacher_path(@teacher) %>
         <%= link_to "Add New Student",  new_teacher_student_path(@teacher) %>
     <% end %>
  </div>

  <div class="rightcolumnteacher">
    <div class="studentinfo">
    </div>
    <div class="pledge_form">
    </div>
  </div>

</div>

<script id="student-template" type="text/x-handlebars-template">
    <h1> Student {{first_name}} {{last_name}}  Details </h1>

      <!--HOw do I refactor for handle bar template  -->
    <!-- < if current_user == @student >
      <=  button_to "Edit Profile" > -->
    <!-- < end %> -->
    <p> Charities  Raising money for and current amount<p>
    <div class = "student_section">
      <div class = "boxes">
        {{#each charities}}
        <!-- NEED ACCESS TO THIS CHARITY ID for new PLedge form and controller -->
        <!-- {{id}} -->
          <div class= "charity_box">
            {{name}}
            <p>{{description}}</p>
        {{/each}}
          </div>
          <p> Goal:</p>
          <!-- MAy need to chang this for matching amount to each charity of student  -->
          <p> Amount Pledged:</p>
          <!-- How to refactor for handlebars? -->
          <!-- $<= @student.amount_pledged() %> -->
          <div class="comments_section">
            {{#each pledges}}
            <p>Amount: ${{amount}}</p>
            <!-- Need pledge.comments -->
            {{#each comments}}
              <p>Comment: {{content}}</p>
            {{/each}}
          {{/each}}
        </div>
        </div>
      </div>
</script>
