<div class="leftcolumnteacher">
<%= @teacher.first_name %> <%= @teacher.last_name %>'s  Class

  <% @teacher.students.each do |s| %>
  <div class= 'student_box'>
      <%= s.first_name %> <%= s.last_name %>
      <%= button_to "Students Profile", teacher_student_path(s), {method: 'get', class: "some-class"} %>
    </div>
  <% end %>

   <% if current_user != nil && current_user.id == @teacher.user_id   %>
       <%= link_to "Add Student", edit_teacher_path(@teacher) %>
       <%= link_to "Add New Student",  new_teacher_student_path(@teacher) %>
   <% end %>
</div>

<div class="rightcolumnteacher">

</div>

<script id="student-template" type="text/x-handlebars-template">
  <div class="detailsStudentShow">
    <h1> Profile Page for {{first_name}} </h1>

    <p> Charities  Raising money for and current amount<p>
    <div class = "student_section">
      <div class = "boxes">
        {{#each charities}}
        <div class= "charity_box">
          {{name}}
          <p>{{description}}</p>
        {{/each}}
      </div>
          <p> Goal:</p>
          <!-- MAy need to chang this for matching amount to each charity of student  -->

      <!-- HOw do I access this  -->
          <p> Amount Pledged:
  </div>
</div>
</div>

</script>

<script id="comment-template" type="text/x-handlebars-template">
  <div class="comment_form">
  </div>
</script>
