<!DOCTYPE html>
<html>
  <head>
    <title>CharityTracker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>


      <!-- Devise flash messages -->
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
<nav>
    <%= link_to('Home', root_path) %>
    <%= link_to('Teachers', teachers_path) %>

    <div class='session_status'>
      <% if user_signed_in? %>
         Glad to have <%= current_user.email %> visting!
        <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
      <% else %>
        <%= link_to('Login', new_user_session_path)  %>
        <%= link_to('Sign up', new_user_registration_path)  %>
      <% end %>
    </div>
</nav>

    <%= yield %>
  </body>
</html>
