<!DOCTYPE html>
<html>
  <head>
    <title>CharityTracker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>

      <!-- Devise flash messages -->
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
<nav class="navbar">
    <uL>
      <li><%= link_to('Home', root_path) %></li>
    <li><%= link_to('Teachers', teachers_path) %></li>
    <% if user_signed_in? %>
      <li><%= link_to("My Profile", user_path(current_user)) %></li>
    <% end %>

    <div class='session_status'>

      <% if user_signed_in? %>
        <li>Glad to have <%= current_user.email %> visting!
        <%= link_to('Logout', destroy_user_session_path, method: :delete) %></li>
      <% else %>
        <li><%= link_to('Login', new_user_session_path)  %></li>
      <li><%= link_to('Sign up', new_user_registration_path)  %></li>
      <% end %>
    </ul>
    </div>
</nav>

    <%= yield %>
  </body>
</html>
